*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: calc(20px + 2vh);
    font-family: Aldrich;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #232323;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
}


body{
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-right: 1px solid #555;
    padding: 10px;
}

.left > div {
    margin: 10px;
}

.organizer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}


.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;

}

.preview{
    display: none;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.previewPlaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}

select{
    background-color: #232323;
    border: none;
    border-radius: 15px;
    width: auto;
    padding: 8px;
    max-width: 350px;
    font-size: calc(18px + 1vh);
}

legend {
    font-size: calc(10px + 1vh);
}

img {
    height: 250px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}