*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-size: calc(20px + 2vh);
    font-family: Aldrich;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #232323;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
}


body{
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 100%;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

select{
    background-color: #232323;
    border: none;
    border-radius: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}